body {
	background-color: #d4dce4;
	padding-top: 50px;
}
/*navbar*/
.navbar-collapse {
	background-color: #363d49;
}
.navbar-default .navbar-nav > li> a {
	color:#fff;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-nav>li>a:focus,
 .navbar-default .navbar-nav>li>a:hover {
 	color: #3d9de8;
 }
.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover {
	color: #3d9de8;
}
/*jumbotron*/
.jumbotron {
	background-image: url("images/background.jpg");
	background-position: center;
	background-size: cover;
	min-height: 60vh;
}
.myjumbo h1 {
	color: #fff;
}
.myjumbo p {
	color: #fff;
}
.jumbotron .container div {
	background-color: rgba(54, 61, 73, 0.7);
	padding: 20px;
}
/*media*/
.mymedia {
	background-color: #fff;
	margin-bottom: 30px;
	padding: 30px;
}
.media-left {
	width: 30%;
}
.mylist {
	margin-top: 30px;
}


/*tabs*/
.mycollapse {
	margin: 20px 0;
}
/*footer*/
.myicon {
	background-color: #3e79b6;
	border-radius: 50%;
	border: none;
	color: #fff;
	font-size: 25px;
	height: 45px;
	margin: 5px;
	width: 45px;
}
.myicon:hover {
	color: #01275a;
	transform: scale(1.3);

}
.myfooter {
	background-color: #58667E;
	color: #fff;
	margin: 30px auto;
	padding: 30px;
}

.milk-header {
	text-align: center;
}

.copyrights {
	background-color: #363d49;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	border: 1px solid #cacaca;
	color: #fff;
	height: 30px;
	margin-top: 20px;
	padding: 5px;
}
.copyrights a {
	text-decoration: none;
}
/*media queries*/
@media screen and (max-width: 767px) {
	.navbar-fixed-top {
		background-color:#363d49;
	}
	.navbar-default
	.navbar-nav 
	.open 
	.dropdown-menu > li > a {
		color: #fff;
	}
	.navbar-default
	.navbar-nav 
	.open 
	.dropdown-menu > li > a:hover {
		color: #3d9de8;
	}
	.milk-img {
		margin-bottom: 5rem;
	}
}


